<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title Alpha by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="landing is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a asp-action="Index" asp-controller="Home">Med+</a></h1>
            <nav id="nav">
                <ul>
                     <li>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="CreateDocAndSlot" asp-controller="Home">Add doctor</a>
                            <a asp-action="AddSlots" asp-controller="Home">Add slots</a>
                        }
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="SearchDoc"></a> 
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="SignOut" asp-controller="Account">Sign Out</a>
                        }
                        else
                        {
                            <a asp-action="LogIn" asp-controller="Account">Log In</a>
                        }
                    </li>
                </ul>
            </nav>
        </header>
        @RenderBody()
        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
