@model MedClinic.Models.UserLoginBindingModel

<section id="main" class="container medium">
    <header>
        <h2>Log in</h2>
    </header>
    <div class="box">
        <form method="post" action="#">
            <div class="row gtr-50 gtr-uniform">
                <div class="col-12">
                    <input asp-for="Email" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <input asp-for="Password" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <ul class="actions special">
                        <li><input type="submit" value="Send Message" /></li>
                    </ul>
                </div>
            </div>
            </>
        </form>
    </div>
</section>